@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Montserrat', sans-serif;
}

/* form{
  height: 520px;
  width: 430px;
  background-color: rgba(255,255,255,0.07);
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255,255,255,0.1);
  box-shadow: 0 0 40px rgba(8,7,16,0.6);
  padding: 50px 35px;
}
form *{
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
} */
/* .Rform{
  height: 630px;
  width: 430px;
  background-color: rgba(255,255,255,0.07);
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255,255,255,0.1);
  box-shadow: 0 0 40px rgba(8,7,16,0.6);
  padding: 50px 35px;
} */
.Rform {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 30%;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(8, 7, 16, 0.2);
  padding: 50px 35px;
}

.Rform * {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}

form h3 {
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
}

form h3 span {
  display: block;
  font-size: 16px;
  font-weight: 300;
}

/* label{
  display: block;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
}
input{
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgba(255,255,255,0.07);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
}
::placeholder{
  color: #e5e5e5;
}
button{
  margin-top: 50px;
  width: 100%;
  background-color: #ffffff;
  color: #080710;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
} */

.btnn {
  cursor: pointer;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transition-duration: 200ms;
  animation: button-pop var(--animation-btnn, 0.25s) ease-out;
}
.btnn-disabled,
  .btnn[disabled],
  .btnn:disabled {
  pointer-events: none;
}
.btnn-disabled,
  .btnn[disabled],
  .btnn:disabled {
  pointer-events: none;
}
.btnn-group > input[type="radio"].btnn {
  appearance: none;
}
.btnn-group > input[type="radio"].btnn:before {
  content: attr(data-title);
}
.btnn:is(input[type="checkbox"]),
.btnn:is(input[type="radio"]) {
  width: auto;
  appearance: none;
}
.btnn:is(input[type="checkbox"]),
.btnn:is(input[type="radio"]) {
  width: auto;
  appearance: none;
}
.btnn:is(input[type="checkbox"]):after,
.btnn:is(input[type="radio"]):after {
  --tw-content: attr(aria-label);
  content: var(--tw-content);
}
.btnn:is(input[type="checkbox"]):after,
.btnn:is(input[type="radio"]):after {
  --tw-content: attr(aria-label);
  content: var(--tw-content);
}
@media (hover: hover) {
  .btnn:hover {
    --tw-border-opacity: 1;
    border-color: hsl(var(--b3) / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: hsl(var(--b3) / var(--tw-bg-opacity));
  }
}
@media (hover: hover) {
  .btnn.glass:hover {
    --glass-opacity: 25%;
    --glass-border-opacity: 15%;
  }
}
@media (hover: hover) {
  .btnn-disabled:hover,
  .btnn[disabled]:hover,
  .btnn:disabled:hover {
    --tw-border-opacity: 0;
    background-color: hsl(var(--n) / var(--tw-bg-opacity));
    --tw-bg-opacity: 0.2;
    color: hsl(var(--bc) / var(--tw-text-opacity));
    --tw-text-opacity: 0.2;
  }
}
@media (hover: hover) {
  .btnn-disabled:hover,
  .btnn[disabled]:hover,
  .btnn:disabled:hover {
    --tw-border-opacity: 0;
    background-color: hsl(var(--n) / var(--tw-bg-opacity));
    --tw-bg-opacity: 0.2;
    color: hsl(var(--bc) / var(--tw-text-opacity));
    --tw-text-opacity: 0.2;
  }
}
@media (hover: hover) {
  .btnn:is(input[type="checkbox"]:checked):hover, .btnn:is(input[type="radio"]:checked):hover {
    --tw-border-opacity: 1;
    border-color: hsl(var(--pf) / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: hsl(var(--pf) / var(--tw-bg-opacity));
  }
}
@media (hover: hover) {
  .btnn:is(input[type="checkbox"]:checked):hover, .btnn:is(input[type="radio"]:checked):hover {
    --tw-border-opacity: 1;
    border-color: hsl(var(--pf) / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: hsl(var(--pf) / var(--tw-bg-opacity));
  }
}
.btnn:active:hover,
  .btnn:active:focus {
  animation: button-pop 0s ease-out;
  transform: scale(var(--btnn-focus-scale, 0.97));
}
.btnn:active:hover,
  .btnn:active:focus {
  animation: button-pop 0s ease-out;
  transform: scale(var(--btnn-focus-scale, 0.97));
}
.btnn:focus-visible {
  outline-style: solid;
  outline-width: 2px;
  outline-offset: 2px;
}
.btnn.glass {
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  outline-color: currentColor;
}
.btnn.glass.btnn-active {
  --glass-opacity: 25%;
  --glass-border-opacity: 15%;
}
.btnn.btnn-disabled,
  .btnn[disabled],
  .btnn:disabled {
  --tw-border-opacity: 0;
  background-color: hsl(var(--n) / var(--tw-bg-opacity));
  --tw-bg-opacity: 0.2;
  color: hsl(var(--bc) / var(--tw-text-opacity));
  --tw-text-opacity: 0.2;
}
.btnn.btnn-disabled,
  .btnn[disabled],
  .btnn:disabled {
  --tw-border-opacity: 0;
  background-color: hsl(var(--n) / var(--tw-bg-opacity));
  --tw-bg-opacity: 0.2;
  color: hsl(var(--bc) / var(--tw-text-opacity));
  --tw-text-opacity: 0.2;
}
.btnn.btnn-disabled,
  .btnn[disabled],
  .btnn:disabled {
  --tw-border-opacity: 0;
  background-color: hsl(var(--n) / var(--tw-bg-opacity));
  --tw-bg-opacity: 0.2;
  color: hsl(var(--bc) / var(--tw-text-opacity));
  --tw-text-opacity: 0.2;
}
.btnn-group > input[type="radio"]:checked.btnn,
  .btnn-group > .btnn-active {
  --tw-border-opacity: 1;
  border-color: hsl(var(--p) / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: hsl(var(--p) / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: hsl(var(--pc) / var(--tw-text-opacity));
}
.btnn-group > input[type="radio"]:checked.btnn:focus-visible, .btnn-group > .btnn-active:focus-visible {
  outline-style: solid;
  outline-width: 2px;
  outline-color: hsl(var(--p) / 1);
}
.btnn:is(input[type="checkbox"]:checked),
.btnn:is(input[type="radio"]:checked) {
  --tw-border-opacity: 1;
  border-color: hsl(var(--p) / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: hsl(var(--p) / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: hsl(var(--pc) / var(--tw-text-opacity));
}
.btnn:is(input[type="checkbox"]:checked),
.btnn:is(input[type="radio"]:checked) {
  --tw-border-opacity: 1;
  border-color: hsl(var(--p) / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: hsl(var(--p) / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: hsl(var(--pc) / var(--tw-text-opacity));
}
.btnn:is(input[type="checkbox"]:checked):focus-visible, .btnn:is(input[type="radio"]:checked):focus-visible {
  outline-color: hsl(var(--p) / 1);
}
.btnn:is(input[type="checkbox"]:checked):focus-visible, .btnn:is(input[type="radio"]:checked):focus-visible {
  outline-color: hsl(var(--p) / 1);
}
.btnn-group .btnn:not(:first-child):not(:last-child) {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.btnn-group .btnn:first-child:not(:last-child) {
  margin-left: -1px;
  margin-top: -0px;
  border-top-left-radius: var(--rounded-btnn, 0.5rem/* 8px */);
  border-top-right-radius: 0;
  border-bottom-left-radius: var(--rounded-btnn, 0.5rem/* 8px */);
  border-bottom-right-radius: 0;
}
.btnn-group .btnn:last-child:not(:first-child) {
  border-top-left-radius: 0;
  border-top-right-radius: var(--rounded-btnn, 0.5rem/* 8px */);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: var(--rounded-btnn, 0.5rem/* 8px */);
}
.btnn-group-horizontal .btnn:not(:first-child):not(:last-child) {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.btnn-group-horizontal .btnn:first-child:not(:last-child) {
  margin-left: -1px;
  margin-top: -0px;
  border-top-left-radius: var(--rounded-btnn, 0.5rem/* 8px */);
  border-top-right-radius: 0;
  border-bottom-left-radius: var(--rounded-btnn, 0.5rem/* 8px */);
  border-bottom-right-radius: 0;
}
.btnn-group-horizontal .btnn:last-child:not(:first-child) {
  border-top-left-radius: 0;
  border-top-right-radius: var(--rounded-btnn, 0.5rem/* 8px */);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: var(--rounded-btnn, 0.5rem/* 8px */);
}
.btnn-group-vertical .btnn:first-child:not(:last-child) {
  margin-left: -0px;
  margin-top: -1px;
  border-top-left-radius: var(--rounded-btnn, 0.5rem/* 8px */);
  border-top-right-radius: var(--rounded-btnn, 0.5rem/* 8px */);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.btnn-group-vertical .btnn:last-child:not(:first-child) {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: var(--rounded-btnn, 0.5rem/* 8px */);
  border-bottom-right-radius: var(--rounded-btnn, 0.5rem/* 8px */);
}